{% extends '../common/base.twig' %}

{% block header %}
  {{ parent() }}
  <title> Ticket {{ item.issue }} </title>
{% endblock %}

{% block content %}
  <div class="container" >

    <div class="row" >
      <div class="col-md-12" >
        <h4> {{ item.title }} </h4>
        <p> {{ item.description }} </p>
      </div>
    </div>

    <div class="row" >
      <ul class="nav nav-pills" >
        <li><a href="/ticket/modify/{{ item.issue }}/" > Modify </a></li>
      </ul>
    </div>
  </div>
{% endblock %}
